
body {
    font-family: 'Roboto', sans-serif;
}

.title-link {
    text-decoration: none;
    color: #fff;
    transition: 500ms ease-in-out;
}

.title-link:hover {
    color: red;
}

.search {
    display: flex;
    justify-content: center;
}

.text{
    height: auto;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    background: #273036;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.form {
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    background: #585b5e;
}

.form:focus {
    border: red solid;
    outline: none;
    background: #fff;
}

.test {
    background-color: #273036;
}

.card {
    transition: 500ms;
    
}

.card:hover {
    transform: scale(1.02);
    
}

.body {
    background-color: #9ca0a4;
}

.container-konata {
    display: flex;
    justify-content: center;
    text-align: center;
}

.drago-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

.drago-row > * {
    flex-basis: 18rem;
    flex-shrink: 0;
}

#mobile-btn {
    display: none;
}

@media screen and (max-width:992px) {


    .card {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .container-konata {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #mobile-btn {
        display: block;
    }
}

.navbar-mal {
    padding-bottom: 5rem;
}

/* MY ANIME LIST */

.card-mal .content p {
    font-size: 1rem;
}


.mal {
    background: #585b5e;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.container .card-mal {
    position: relative;
    max-width: 300px;
    height: 230px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.container .card-mal:hover {
    height: 450px;
}

.container .card-mal .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card-mal .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}
.container .card-mal .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card-mal:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.shop {
    height: 70vh;
}

/* Boton del carrito */

.btn-drago {
    float: right;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
    border: #273036;
    transition: 500ms ease-in-out;
}

.btn-drago:hover {
    padding: 15px;
    font-size: 20px;
    background: #273036;
    color: #fff;
}

/* Carrito modal */

.modal-content {
    background: #585b5e;
}

.modal-header .modal-title {
    text-transform: uppercase;
    color: #fff;
}

.esp-container {
    display: flex;
    justify-content: space-around;
}

.esp-container .esp {
    color: #fff;
}



.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

